<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Enlightened Citizenry</a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>{{#link-to 'legislators'}}Legislators Search{{/link-to}}</li>
        <li>{{#link-to 'committees'}}Committee Search{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
<div class="container push-down">
{{outlet}}
</div>
