<div class="container">
  <h1>List of Senate Committees</h1>
  {{senate-committees committees=model}}
</div>
<div class="container">
  <h1>List of House Committees</h1>
  {{house-committees committees=model}}
</div>
