<div class="jumbotron">
  <h1> Enlightened Citizenry</h1>
</div>

<h1>Find out who your {{#link-to 'legislators'}} legislators {{/link-to}} are based on your zip code.</h1>

<h1>Get to know more about {{#link-to 'committees'}} committees {{/link-to}} in the Senate and the House.</h1>

<h1>View {{#link-to 'recent-bills'}}recent{{/link-to}} or {{#link-to 'upcoming-bills'}}upcoming{{/link-to}} bills.</h1>
